@import "../fonts/roboto/stylesheet.css";
html,body,div,p,a,button,input,select,textarea, h1,h2,h3,h4,h5,h6,ul,li{font-family: 'Roboto',sans-serif!important;}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e1e0df !important;
}

*{
    box-sizing: border-box;
    margin: 0;
}

a{
    text-decoration: none !important;
    text-underline: none!important;
}









/*
 *  Login form
 */

.login-form, .login-form>.mdl-card__title{margin: auto;}

.login-form-center {width: 100%;}

.hero {
    background:url("../img/bg.jpeg")  center / cover !important;
    background-repeat: no-repeat;
    height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: -10;
}
.hero-overlay{
    height: 100%;
    width: 100%;
    z-index: -5;
    background-color: rgba(0,0,0,0.38);
}

.header-bar{
    background-color: #fff;
    height: 64px !important;
    width: 100%;
}










/*
 *  Sidebar
 */
.side-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}
.side-image {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url("../img/side-bg.jpg") center / cover no-repeat;
}
.side-drawer-header>img, .side-drawer-header>span{
    margin-left: 28px;
}

.active {
    background-color: #1976d1!important;
    color: #fff1ff!important;
}

/**Card**/
.demo-card-square.mdl-card {
    width: 239px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('../../assets/img/4.jpg') bottom right 60% no-repeat #1976d2;
}

/*
 *  Content
 */
.content {
    display: block;
    margin-left: 240px;
}
.parent-content{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.text-center{margin: auto!important;}

.text-align-center{text-align: center!important;}

.width-100{width:100%!important;}

.pointer-c tr{cursor: pointer;}

.fab-button{
    position: fixed!important;
    right: 75px!important;
    bottom: 530px!important;
    z-index: 20!important;
}

.position{
    position: relative!important;
    top: 80px!important;
}
.position-dental{
    position: relative!important;
    left: 640px !important;
}


/*
 *  margin and padding
 */

.no-margin{margin: 0!important;}

.margin-auto{margin: auto !important;}


/*Vertical Tabs*/
.vertical-mdl-tabs {
    margin-top: 40px;
}
.vertical-mdl-tabs .mdl-tabs__tab-bar {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 35px;
    height: inherit;
    border-bottom: none;
    border-right: 1px solid rgba(10, 11, 49, 0.20);
}

.vertical-mdl-tabs .mdl-tabs__tab {
    width: 100%;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    letter-spacing: 2px;
}

.vertical-mdl-tabs .mdl-tabs__tab:hover {
    background: rgba(158, 158, 158, 0.34);
    color: black;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
    border-right: 3px solid #ED462F;
}
.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    content: inherit;
    height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active, .mdl-tabs__panel {
    padding: 0 30px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
    text-align: left;
}

/***Account***/






/*
 *  Color and Background
 */
.demo-card-image.mdl-card {
    width: 1010px;
    height: 250px;
    background: url('../../assets/img/xray.jpg') center / cover;
}
/***Modal**/
.uk-modal-header {
    margin: -34px -38px 27px -38px!important;
    padding: 15px!important;
    border-bottom: 1px solid #fafafa!important;
    border-radius: 0 0 0 0!important;
    background: #1976d1!important;
}
.mdl-textfield {
    position: relative!important;
    font-size: 13px!important;
    display: inline-block!important;
    box-sizing: border-box!important;
    width: 270px!important;
    max-width: 100% !important;
    margin: 0!important;
    padding: 20px 0!important;
}
.mdl-textfield__label {
    bottom: 0;
    color: rgba(0,0,0,.26);
    font-size: 13px!important;
    color: #000000!important;
}

/**report**/
.header {
    height:7px;
    background: #ED462F;
    border:1px solid #ED462F;
    width:700px;
    margin:0px auto;
}
/*Account*/
.fixedheader {
    height:5px;
    background: darkblue;
    border:1px solid darkblue;
    width:415px;
    margin:0px auto;
}
/*
 *  Override
 */
.mdl-layout>.mdl-layout__drawer>.mdl-navigation>a>.material-icons {margin-right: 20px;}

.mdl-layout__drawer>.mdl-grid{padding-left: 38px;}

.mdl-layout__drawer{width: 240px!important;}

.mdl-layout__drawer{border: none!important;}

.mdl-layout__drawer{
    position: fixed !important;
    top: 60px !important;
}


/***Drop down***/
.styled-select.slate select {
    border: 1px solid #ED462F;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

/***Radio***/
.radio-custom{
    opacity: 0;
    position: absolute;
}

.radio-custom, .radio-custom-label, .radio-custom-label1 {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.radio-custom-label {
    position: relative;
    float:left;
    text-align: center;
}


.radio-custom-label1 {
    position: relative;
    text-align: center;
}

.radio-custom + .radio-custom-label:before, .radio-custom + .radio-custom-label1:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;

}


.radio-custom + .radio-custom-label:before, .radio-custom + .radio-custom-label1:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before, .radio-custom:checked + .radio-custom-label1:before {
    background: #444444;
}

.radio-custom:focus + .radio-custom-label, .radio-custom:focus + .radio-custom-label1 {
    outline: 1px solid #ddd;
}



/**checkbox**/
.checkbox-custom{
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before{
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

/***Accordion***/
.accordion {
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}
.panel{
    padding: 1.5em .8em 0;
    display: none;
    background-color: transparent;
    color: #fff;
    width: 100%;
    overflow: hidden;
}




.mdl-card--horizontal-2 {
    flex-direction: row !important;
    flex-wrap: wrap;
    min-height: 0px !important;
}
.mdl-card--horizontal-2 .mdl-card__title {
    align-items: flex-start;
    flex-direction: column;
    flex: 1 auto;
    float: left;
}
.mdl-card--horizontal-2 .mdl-card__title-text {
    align-self: flex-start;
    font-size: 1em;
}
.mdl-card--horizontal-2 .mdl-card__media {
    flex: 0 auto;
    float: right;
    height: 112px;
    margin: 16px 16px 0 0;
    width: 112px;
}
.mdl-card--horizontal-2 .mdl-card__actions {
    clear: both;
    flex: 1 auto;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #444444;
    color: #fff;
}
.checkbox-custom:focus + .checkbox-custom-label {
    outline: 1px solid #ddd; /* focus style */
}


/**border**/
.border {
    border-style: solid;
    border-width: thin;
    padding: 10px;
    padding-top: 1px!important;
    border-color: #ED462F;
}
.border1 {
    border-style: solid;
    border-width: thin;
    padding: 10px;
    padding-top: 20px!important;
    border-color: #ED462F;
}

